@font-face {
	font-family: "kanit-bold";
	src: url("../fonts/kanit-bold.woff2") format("woff2"),
		url("../fonts/kanit-bold.woff") format("woff");
}

@font-face {
	font-family: "kanit-semi-bold";
	src: url("../fonts/kanit-semi-bold.woff2") format("woff2"),
		url("../fonts/kanit-semi-bold.woff") format("woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
	color: white;
	text-transform: uppercase;
	font-family: "kanit-semi-bold", sans-serif;
}

html,
body {
	height: 100vh;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	text-decoration: none;
	list-style: none;

	div {
		display: flex;
		align-items: center;

		&:first-child {
			flex-basis: 45%;
		}

		&:nth-child(2) {
			flex-basis: 10%;
		}

		&:nth-child(3) {
			flex-basis: 45%;
			justify-content: flex-end;
		}

		a {
			margin: 0 0.7vw;
			text-decoration: none;
			color: white;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	#logo {
		text-align: center;
		strong {
			display: block;
			font-size: 1rem;
			font-weight: normal;
		}
		span {
			display: block;
			font-size: 0.75rem;
		}
	}
}

div {
	animation: forwards title-fade-in-bottom 1.5s;
	margin-top: 0.5rem;
	margin-bottom: 2rem;
	h1,
	h2 {
		line-height: 1;
		font-weight: bolder;
		text-align: center;
		font-size: 6vw;
		letter-spacing: 0;
		font-family: "kanit-bold", sans-serif;
	}

	h2 {
		color: black;
		-webkit-text-stroke-width: 0.2vw;
		-webkit-text-stroke-color: white;
	}
}

section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	flex-grow: 1;

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;

		&:hover {
			transform: scale(1.1);
			transition: all 0.5s ease-in-out;
		}

		&:first-child {
			animation: forwards apparition-from-bottom-first 1.5s;
		}

		&:nth-child(2) {
			animation: forwards apparition-from-bottom-second 1.5s;
		}

		&:nth-child(3) {
			animation: forwards apparition-from-bottom-third 1.5s;
		}
	}
}

@keyframes title-fade-in-bottom {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes apparition-from-bottom-first {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes apparition-from-bottom-second {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	33% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes apparition-from-bottom-third {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	66% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
